*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;	
}
ul,li{
	list-style: none;
}
a{
	text-decoration: none;
}

img{
	border: none;
}
body{
	font: normal normal 12px "微软雅黑","arial black" ;
	margin: 0 auto;
}
iframe{
	display: block;
	border: none;
}
input:focus{
	outline: none;
}
.innerWidth{
	width: 1160px;
}